
<style> 

    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px solid;
        border-radius: 10px;
        border-color: blueviolet;
        box-shadow: 5px 5px 4px;
    }

    span {
        margin: 10px
    }

</style>

<div class="container"> 
    <img src="https://i.imgur.com/oUAKMC5.png">

    <span> Oi, {{name}}! </span>
    <br>

    <span> Você solicitou uma alteração de senha. </span>
    <span> Para realizar a alteração, clique no link: <a href="{{link}}"> {{link}} </a>  </span>

    <span> Caso não tenha sido você que solicitou a alteração de senha, basta <b>ignorar</b> este e-mail. </span>

    <strong> <ins> Obrigado </ins>! </strong>

    <h3> <strong> Equipe | <strong> RentX </strong> </h3>  

</div>